@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.asButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 50px;
}

.asButtons__btn {
  width: 170px;
  height: 50px;
  cursor: pointer;
  background: white;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 0.5s ease-in-out;
}

.asButtons__btn:hover {
  background: #b8dfff;
}

.asButtons__btn:first-child {
  border-top-left-radius: 0.5rem; /* 8px */
  border-bottom-left-radius: 0.5rem; /* 8px */
}

.asButtons__btn:last-child {
  border-top-right-radius: 0.5rem; /* 8px */
  border-bottom-right-radius: 0.5rem; /* 8px */
}

.asButtons__btn span {
  color: rgb(0, 0, 0);
}
.asButtons__btn_active {
  width: 170px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 0.5s ease-in-out;
  background: rgba(33, 150, 243, 1);
}
.asButtons__btn_active span {
  color: rgb(255, 255, 255);
}
